<ion-content>
    <ion-header class="main-header">
        <nav class="nav main-nav btn">
            <ul>
                    <li><a href="/login">USUARIO</a></li>
                    <li><a href="/cita">CITAS</a></li>
                    <li><a>BITACORA</a></li>
                    <li><a href="/reporte">REPORTE</a></li>
            </ul>
        </nav>
        <h1 class="title-name title-name-large">USUARIOS</h1>
      </ion-header>


      


      <ion-footer class="main-footer">
          <div class="container main-footer-container">
            <address>
              Email:	  al000000@alumnos.uacj.mx<br>
              Telefono:  65600000000<br>
              Pagina:	  http://www.uacj.mx
            </address>
          </div>
      </ion-footer>
    </ion-content>